/* Base Styles */
header {
  /* background-color: #4A148C; */
  background-color: #2274A5;
  padding: 1rem;
  color: white;
  position: relative;
  z-index: 1000;
  width: 100%;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  width: 10rem;
  height: 3rem;

}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-right: 2rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}


@media (max-width: 912px) {
  .container {
      flex-direction: row;
      align-items: flex-start;
  }

  nav ul {
      display: none;
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 1rem;
  }

 
}
